---
import HeroSection from '../components/HeroSection.astro';
import BiographySection from '../components/BiographySection.astro';
import VerticalTimeline from '../components/VerticalTimeline.astro';

import '../styles/global.css';
import '../styles/hero.css';
import '../styles/biography.css';
import '../styles/Timeline.css';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Vincent van Gogh | Legado Artístico</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
		<link rel="preload" href="/noche-estrellada.webm" as="video" type="video/mp4">
	</head>
	<body>
		<main>
			<HeroSection />
			<BiographySection />
			<VerticalTimeline />
		</main>
	</body>
</html>
